$grey-text: rgb(29, 28, 28);
$font-size: 20px;
#form {
 

 font-size: $font-size;
 padding: 20px;
 height: 150px;
 text-align: center;
 margin-top: 30px;
 clear: both;
 
 
 
 #url {
   background-color: white;
   font-size: $font-size;
  }
  
  .spinner {
    font-size: 75px;
    margin-top: 10px;
  }
  
  
  
  .button {
    
    margin: 10px;
    margin-left: 0;
    background-color: white;
    border-radius: 5px;
    font-size: $font-size;
  }
  .button:focus {
    background-color: grey;
    color: white;
  }
  
  label {
    padding-right: 8px;
  }
  
  .action {
    margin: 8px;
    font-size: $font-size;
  }
  
  .action:active {
    background-color: grey;
    color: white;
    transform: translateY(2px);
  }
  
  p {
    text-align: left;
    color:$grey-text;
  }
  
  
  .radio-toolbar input[type="radio"] {
   margin-right: 30px;
   opacity: 0;
   position: fixed;
   width: 0;
 }
 
 .radio-toolbar label {
   display: inline-block;
   background-color: #ddd;
   padding: 10px 20px;
   font-family: sans-serif, Arial;
   font-size: 16px;
   border: 2px solid #444;
   border-radius: 4px;
 }
 .radio-toolbar input[type="radio"]:checked + label {
   border: 2px dotted grey;

 }
 .radio-toolbar input[type="radio"]:focus + label {
  background-color: grey;
  color: white;
 }

}