$grey-text: rgb(29, 28, 28);
$font-size: 20px;
#form {
 

 font-size: $font-size;
 padding: 20px;
 height: 150px;
 text-align: center;
 margin-top: 30px;
 clear: both;
 

 

 #url {
   background-color: white;
   font-size: $font-size;
 }

 .spinner {
  font-size: 75px;
 }



 .button {

   margin: 10px;
   margin-left: 0;
   background-color: white;
   border-radius: 5px;
   font-size: $font-size;
 }
 .button:focus {
   background-color: grey;
   color: white;
 }

 label {
   padding-right: 8px;
 }

 .action {
   margin: 8px;
   font-size: $font-size;
 }

 .action:active {
   background-color: grey;
   color: white;
   transform: translateY(2px);
 }

  p {
    text-align: left;
    color:$grey-text;
  }
}